*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body{
    height: 100%;
    min-height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    font-family: 'montserratregular';
}

main{
    flex-grow: 1;
}

.container{
    max-width: 1110px;
    margin: 0 auto;
}

/*----------деливери3---------*/

.delivery{
    background: #212121;
    color: #FFF;
}

.delivery .container{
    text-align: center;
    padding-top: 80px;
    padding-bottom: 60px;
}

.delivery h2{
    font-size: 30px;
    margin-bottom: 13px;
}

.delivery h2 span{
    font-weight: normal;
}

.delivery p{
    font-size: 21px;
}

/*------------мен-вумен-------*/
.man-woman .container{
    display: flex;
    flex-direction: row;
}

.man,
.woman{
    width: 50%;
    padding-top: 60px;
    padding-bottom: 58px;
}

.man-woman h2{
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.man-woman h2 span {
    font-weight: normal;
}

.man-woman a {
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: #D7B399;
    width: 80px;
    height: 30px;
    margin-top: 40px;
}

.man-woman a:hover,
.man-woman a:focus{
    background-color: #aa8a72;
}

.man{
    background: url(../img/man.png) no-repeat;
    background-position-x: right;
    background-position-y: bottom;
}

.woman{
    padding-left: 35px;
    background: url(../img/woman.png) no-repeat;
    background-position-x: right;
    background-position-y: bottom;
}

.man-woman{
    background: linear-gradient(90deg, #f9f6f1 0%, #f9f6f1 50%, #f9e0e0 50%, #f9e0e0 100%);
}

/*----------хедер--------*/

.header{
    background-color: #F9F6F1;
    font-family: 'montserratregular';
}

.header-menu{
    min-height: 90px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
    background-color: #F9F6F1;
}

.section_wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

.mainmenu_list{
    display: flex;
    flex-direction: row;
    gap: 35px;
}

.basket_list{
    display: flex;
    flex-direction: row;
    gap: 15px;
}

ul{
    list-style: none;
}

.section_wrapper a{
   font-size: 14px;
   color: black;
   text-decoration: none;
}

.mainmenu_item a{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

/*------------банер-----------*/
.banner{
    margin: 90px;
}

.slider__item{
    display: flex;
    padding-top: 166px;
    justify-content: space-between;
    min-height: 564px;
    background: url('../img/running_shoes.png') no-repeat right center;
}

.slider-text{
    font-size: 30px;
}

.slider__big-text{
    font-family: 'montserratbold', 'Arial', sans-serif;
    font-weight: bold;
    font-size: 55px;
    text-transform: uppercase;
    padding-top: 37px;
    padding-bottom: 53px;
}

.button{
    display: block;
    width: 240px;
    padding: 22px 0;
    text-align: center;
    background-color: #D7B399;
    text-transform: uppercase;
    font-size: 16px;
    color: #FFF;
}

.slider__item-price{
    font-family: 'montserratbold', 'Arial', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

.slider__price--old{
    font-size: 24px;
    text-decoration-line: line-through;
}

.slider__price--new{
    font-size: 42px;
    color: #d84033;
    
}

.slider__wrapper{
    position:relative;
}

.slider__button{
    position: absolute;
    top: 50%;
    cursor: pointer;
    border: none;
    background-color: rgba(255, 255, 255, 0);
    outline: none;
}

.slider__button--prev{
    left: 100%;
    margin-left: 72px;
}

.slider__button--next{
    right: 100%;
    margin-right: 72px;
}
/*----------секция нью новые модели и скидки до 90 %--------------*/

.new .container,
.sale .container{
    text-align: center;
    padding-top: 150px;
    padding-bottom: 150px;
}

.new__title{
    font-size: 36px;
    text-transform: uppercase;
}

.new__btn{
    width: 220px;
    height: 50px;
    background: #D7B399;
    color: #fff;
    border: none;
    text-transform: uppercase;
}

.new__btn:hover,
.new__btn:focus{
    background-color: #aa8a72;
}

.catalog{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    margin-top: 100px;
    margin-bottom: 100px;
}
.card{
    border: 1px solid #D7B399;
    padding: 22px 25px 25px;
    position: relative;
}

.card__title{
    font-size: 14px;
    font-weight: 600px;
    margin-top: 25px;
    margin-bottom: 15px;
    margin-left: 71px;
    margin-right: 71px;
}

.card__price{
    font-size: 18px;
    color: #D7B399;
    font-weight: bold;
}

/* .card:nth-child(2){
    position: fixed;
    top: 200px;
    left: 300px;
} */

.bi-suit-heart-fill{
    position: absolute;
    top: 20px;
    right: 20px;
    fill: #D7B399;
}

.bi-suit-heart-fill:hover,
.bi-suit-heart-fill:focus{
    fill: #aa8a72;
}

/* .pic{
    float:left;
    margin-right: 20px;
    margin-bottom: 20px;
    width: 300px;
} */

/*-------------5 секция платья(футболки)------------*/
.dress__wrapper{
    flex-wrap: wrap;
    margin-top: 0;
    justify-content: center;
}

.dress__item{
    width: 277px;
    height: 236px;
    text-align: right;
    position: relative;
    display: flex;
    flex-direction: row;
}

.dress__item-gray{
    background-color: #f4f4f4;
}

.dress__item-cream{
    background-color: #f9f6f1;
}

.dress__item-text{
    font-size: 21px;
    text-transform: uppercase;
    bottom: 24px;
    left: 30px;
}