*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body{
    height: 100%;
    min-height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    font-family: 'montserratregular';
}

main{
    flex-grow: 1;
}

.container{
    margin: 0 auto;
    
}

/*----------деливери3---------*/

.delivery{
    background: #212121;
    color: #FFF;
}

.delivery .container{
    text-align: center;
    padding-top: 80px;
    padding-bottom: 60px;
}

.delivery h2{
    font-size: 30px;
    margin-bottom: 13px;
}

.delivery h2 span{
    font-weight: normal;
}

.delivery p{
    font-size: 21px;
}